.checkout{
    width: 90%;
    margin: 0 auto 50px auto;
}

.checkout h2{
    text-align: center;
    margin: 10px 0;
}

.checkout .checkoutMain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'cart cart pay';
    gap: 20px;
}
